# http://editorconfig.org
# config coding styles for multiple developers working on the same project across various editors and IDEs

# top-most the editorconfig file
root = true

[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100
